<%- include('./subheader'); %>

<div class="uk-container uk-width-3-5@m uk-margin-bottom uk-margin-top">
  <h4>
    About
  </h4>
  <p>
    This is a simple web app features data of rental market in London to provide people with some information and ideas to find their ideal accommodations.
  </p>
  <p>
    Finding an accommodation has always been a time consuming task for many people.
    In addition to price comparisons, the environment and the suitable type of room are also important points to consider.
    And of course, the rent.
  </p>
  <p>
    Therefore, this app tries to put all these points together in the most straightforward and easy to understand way so that you can quickly and easily understand the information.
  </p>
  <p>
    (Photos are from  Pixabay, Instagram, Facebook and Flickr)
  </p>
</div>
<br>

<footer >
  <%- include('./footer'); %>
</footer>
