<%- include('./header'); %>

<div class="uk-container uk-width-3-5@m uk-margin-bottom uk-margin-top">
  <img src="london.jpg" />
  <h3>
    Do you...
  </h3>
  <h4>
    want to know more about London rental prices and market or want to rent an accommodation in London but don't have any idea?
  </h4>
  <h4>
    This simple web app may help you solve your problem!
  </h4>
  <br>

<%- include('./footer'); %>
