<%- include('./subheader',{}); %>

<div class="uk-container uk-width-3-5@m uk-margin-bottom uk-margin-top">
  <h2>Rental market of London</h2>
  <p>
    Following charts show the median rents based on different bedroom categories of each borough in London. Scroll down to find your ideal accommodation and location!
  </p>

  <h3>What's the bedroom type that you are looking for?</h3>
  <p>
    Room: non self-contained single room with shared facilities. Includes bedsits, single rooms in a house or flat shared with other tenants, and single rooms rented from a resident landlord.
  </p>

  <p>
    Studio: self-contained single roomed property with own kitchen and bath/shower/WC facilities.
  </p>

  <p>
    One Bedroom: self-contained properties with one bedroom including houses, bungalows, flats and maisonettes.
  </p>

  <p>
    Two Bedrooms: self-contained properties with two bedrooms including houses, bungalows, flats and maisonettes.
  </p>

  <p>
    Three Bedrooms: self-contained properties with three bedrooms including houses, bungalows, flats and maisonettes.
  </p>

  <p>
    Four or more Bedrooms: self-contained properties with four or more bedrooms including houses, bungalows, flats and maisonettes.
  </p>
</div>

<%- include('./rents'); %>
<div class="uk-container uk-width-3-5@m uk-margin-bottom">
  <p>
    Addition note: null values are displayed because the data is <strong>not applicable</strong> or <strong>not available</strong>.
  </p>
</div>
<br>

<footer >
  <%- include('./footer'); %>
</footer>
